@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@500;600&display=swap')
$mainColour: #05386B
$foggyColour: #EDF5E1
$red: #fc2847
$shadow: #053830

html
  font-size: 16px
  position: relative
  font-family: 'Encode Sans', sans-serif

html
body
  min-height: 100%

.h100vh
  height: 100vh

.def
  margin: 0
  padding: 0
  .a
    text-decoration: none
    display: inline-block

.hide
  position: absolute
  z-index: -1

.center
  display: flex
  justify-content: center

.flex-1-0
  flex: 1 0 auto

.flex-0-0
  flex: 0 0 auto

.main
  height: 100%

.pt-pb-5
  padding-top: 5px
  padding-bottom: 5px

.ico
  padding-left: 20px
  float:  left

.ml-mr-20
  margin-left: 20px
  margin-right: 20px

.p1875rem
  padding: 1.875rem

.shadow
  background: $mainColour
  filter: drop-shadow(3px 3px 5px $shadow)

.text-center
  text-align: center

.text-left
  text-align: left

.m0
  margin: 0

.fl
  float: left

.ml-20
  margin-left: 20px

.rotate90
  -webkit-transform: rotate(90deg)

.rotate180
  -webkit-transform: rotate(180deg)

.rotate270
  -webkit-transform: rotate(270deg)
