<div class="menu" [ngClass]="{'close':!isOpen, 'menu-padding':!isSmallDisplay()}">
  <a class="arrow-down-close rotate270" [ngClass]="isOpen?'open return-pos':'transform-r'"
     (click)="menuObserver.emit(!isOpen)"></a>
  <nav *ngIf="isOpen">
    <ul class="menu-list">
      <li>
        <a class="">
          <img width="16" height="16" role="img" src="../../assets/images/sidebar/search.png"
               class="icon" [ngClass]="!isSmallDisplay()?'mr-20':''" alt="">
          <span *ngIf="!isSmallDisplay()">Search</span>
        </a>
      </li>
      <li>Search</li>
      <li>Search</li>
    </ul>
  </nav>
</div>

