$foggyColour: #EDF5E1
$mainColour: #05386B
$close: #191970
$close2: #fc2847
.menu
  z-index: 1
  position: fixed
  width: 100px
  height: 50%
  display: flex
  flex: none
  justify-content: center
  background: $foggyColour
  margin-bottom: 10px
  border-bottom-left-radius: 20px
  border-bottom-right-radius: 20px
  transition: 300ms

  ul
    padding: 0
    list-style: none
    margin: 0

.menu-padding
  padding-left: 20px
  padding-right: 20px

.menu-list
  display: flex
  justify-content: space-evenly
  align-items: center
  height: 100%
  flex-direction: column

.menu-btn
  width: 30px
  height: 30px

.transform-r
  top: 0
  right: -40px

.return-pos
  top: 0
  right: 0

.arrow-down-close
  width: 30px
  height: 30px
  display: block
  position: absolute
  transition: 300ms

  &:before, &:after
    content: ''
    display: inline-block
    height: 20px
    width: 4px
    background-color: $mainColour
    border-radius: 2px
    position: relative
    transition: 300ms

  &:before
    transform: rotate(-45deg)

  &:after
    transform: rotate(45deg)
    left: 8px

  &.open
    &:before
      transform: translateX(12px) rotate(-45deg)
      background: $close2

    &:after
      transform: translateX(0) rotate(45deg)
      background: $close2


.close
  transform: translateX(-100%)
