<div class="h100vh content ov-x-hidden">
  <app-header [needBorder]=!menuIsOpen class="header" (height)="headerHeightEmitter.emit($event)"
              [style.transform]="isHeaderVisible?'':'translateY(-110%)'"></app-header>
  <div class="flex-1-0">
    <app-sidebar-menu [style.top]="headerSize.height + 'px'"
                      (menuObserver)=menuEmitter.emit($event) class="po-r"></app-sidebar-menu>
    <main>
      <h1 class="test">hello i am gay i wanna be lion but i am spike</h1>
      <h1 class="test">hello i am gay i wanna be lion but i am spike</h1>
      <h1 class="test">hello i am gay i wanna be lion but i am spike</h1>
    </main>
  </div>
  <app-footer class="flex-0-0"></app-footer>
</div>



