<header>
  <div class="head">
    <div class="ico pad"><a [href]="imgLink"><img [src]="mainImg" width="100" height="50"></a></div>
    <div class="profile pad">
      <div id="sign-in" class="ml-mr-20 sing">
        <a href="#" class="img-n-text">
          <span class="header-text default hover-text">Sign in</span>
        </a>
      </div>
      <div id="sign-up" class="sing tracing">
        <a href="#" class="img-n-text">
          <span class="header-text default hover-text">Sign up</span>
        </a>
      </div>
    </div>
  </div>
</header>
