<footer class="footer-tittle-text flex-0-0">
  <div class="p1875rem">
    <div class="container-horizontal" *ngIf="footerItems.length > 0">
      <section class="footer-section" *ngFor="let footerItem of footerItems">
        <p class="title">{{footerItem.name}}</p>
        <button (click)="footerItem.needHide = !footerItem.needHide"></button>
        <ul class="footer-list footer-text" *ngIf="!footerItem.needHide">
          <li *ngFor="let item of footerItem.items">
            <a class="footer-link" [href]=item.url>
              <img *ngIf='item.imgLink != "" '  width="16" height="16" role="img" [src]="item.imgLink" class="footer-icon shadow">
              <span class="footer-link">{{item.text}}</span>
            </a>
          </li>
        </ul>
      </section>
    </div>
  </div>
</footer>
