<footer class="footer-tittle-text flex-0-0">
  <div class="p1875rem">
    <div class="container-horizontal" *ngIf="footerItems.length > 0">
      <section class="footer-section" *ngFor="let footerItem of footerItems; let i = index">
        <div class="dis-i-b text-left">
          <ng-template [ngIf]="isSmallDisplay()">
            <button (click)="footerItem.needHide = !footerItem.needHide;" class="link-btn dis-i-b title">
              <p class="footer-tittle-text m0 fl">{{footerItem.name}}</p>
              <div class="arrow-1 fl rotate90"
                   [ngClass]="footerItem.needHide? 'rotate270' : 'rotate90'">
                <div></div>
              </div>
            </button>
          </ng-template>
          <ng-template [ngIf]="!isSmallDisplay()">
            <p class="footer-tittle-text m0 fl title">{{footerItem.name}}</p>
          </ng-template>
        </div>
        <ul class="footer-list footer-text" *ngIf="isSmallDisplay()?!footerItem.needHide:true">
          <li *ngFor="let item of footerItem.items">
            <a class="footer-link" [href]=item.url>
              <img *ngIf='item.imgLink != ""' width="16" height="16" role="img" [src]="item.imgLink"
                   class="icon shadow mr-20" alt="">
              <span class="footer-link">{{item.text}}</span>
            </a>
          </li>
        </ul>
      </section>
    </div>
  </div>
</footer>
