$mainColour: #05386B
$foggyColour: #EDF5E1

footer
  margin: 0
  position: static
  display: block
  background-color: $mainColour
  color: $foggyColour
  border-top-left-radius: 20px
  border-top-right-radius: 20px

.footer-section
  margin-bottom: 0.875rem
  padding-left: 1.275rem
  padding-right: 1.275rem

.footer-tittle-text
  font-size: 18px
  font-weight: 600
  font-family: 'Encode Sans', sans-serif

.footer-text
  font-size: 16px
  font-weight: 500

.footer-list
  margin-top: 0
  list-style: none
  padding: 0

.footer-section ul li:not(:last-child)
  margin-bottom: 0.875rem

.footer-icon
  margin-right: 10px
  transform: translate(0,10%)
  width: 1rem
  height: 1rem

.footer-link
  text-decoration: none
  position: relative
  color: $foggyColour

.link-btn
  width: 100%
  border: none
  text-decoration: none
  padding: 0
  .arrow
    position: absolute
    left: 100%
    top: -20%
    cursor: pointer
    margin: 5px

  .arrow-left
    position: absolute
    background: transparent none
    left: 0
    width: 40px
    height: 10px
    display: block
    transform: rotate(35deg)
    float: right
    border-radius: 2px

  .arrow-left:after
    content: ""
    background-color: #337AB7
    width: 40px
    height: 10px
    display: block
    float: right
    border-radius: 6px 10px 10px 6px
    transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8)
    z-index: -1


  .arrow-right
    position: absolute
    background-color: transparent
    left: 26px
    width: 40px
    height: 10px
    display: block
    transform: rotate(-35deg)
    float: right
    border-radius: 2px

  .arrow-right:after
    content: ""
    background-color: #337AB7
    width: 40px
    height: 10px
    display: block
    float: right
    border-radius: 10px 6px 6px 10px
    transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8)
    z-index: -1

  .open .arrow-left:after
    transform-origin: center center
    transform: rotate(-70deg)

  .open .arrow-right:after
    transform-origin: center center
    transform: rotate(70deg)

