<footer class="footer-tittle-text flex-0-0">
  <div class="p1875rem">
    <div class="container-horizontal">
      <section class="footer-section">
        <p class="title">
          More to Explore
        </p>
        <ul class="footer-list footer-text">
          <li>
            <a class="hover-text" href="#">About Us</a>
          </li>
          <li>
            <a class="hover-text" href="#">Privacy Policy</a>
          </li>
        </ul>
      </section>
      <section class="footer-section">
        <p class="title">
          Our Social
        </p>
        <ul class="footer-list footer-text">
          <li>
            <a href="https://github.com/Nanoster1/ProjectManager" class="img-n-text">
              <img width="16" height="16" role="img" src="../../../assets/images/github.png" class="footer-icon shadow">
              <span class="hover-text">GitHub</span>
            </a>
          </li>
          <li>
            <a href="https://github.com/Nanoster1/ProjectManager" class="img-n-text">
              <img width="16" height="16" role="img" src="../../../assets/images/discord.svg" class="footer-icon shadow">
              <span class="hover-text">Discord</span>
            </a>
          </li>
          <li>
            <a href="https://github.com/Nanoster1/ProjectManager" class="img-n-text">
              <img width="16" height="16" role="img" src="../../../assets/images/telegram.png" class="footer-icon shadow">
              <span class="hover-text">Telegram</span>
            </a>
          </li>
        </ul>
      </section>
    </div>
  </div>
</footer>
