$mainColour: #05386B
$foggyColour: #EDF5E1

footer
  margin: 0
  position: static
  display: block
  background-color: $mainColour
  color: $foggyColour
  border-top-left-radius: 20px
  border-top-right-radius: 20px

.footer-section
  margin-bottom: 0.875rem
  padding-left: 1.275rem
  padding-right: 1.275rem

.footer-tittle-text
  font-size: 18px
  font-weight: 600
  font-family: 'Encode Sans', sans-serif

.footer-text
  font-size: 16px
  font-weight: 500

.footer-list
  list-style: none
  padding: 0
  margin-top: 1.875rem

.footer-section ul li:not(:last-child)
  margin-bottom: 0.875rem

.footer-icon
  position: absolute
  top:  50%
  transform: translateY(-50%)
  width: 1rem
  height: 1rem

